<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> Accounts</h2>
  </div>
  <div class="col-md-6">
    <h5 class="text-right text-secondary">words here </h5>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Accounts</th>
      <th>APR</th>
      <th >Balance</th>
    
    </tr>
    
  </thead>
   <tbody>
<div class=wrap>
  <div class= "type">
      <tr *ngFor="let type of user.accountType">
        <td> {{type}} </td> 
      </tr>
    </div>
  <div class="apr">
      <tr *ngFor="let apr of user.APR">
        <td> {{apr}}% </td>
      </tr>
    </div>

  <div class ="balance">
      <tr *ngFor="let balances of user.balance; let i=index">
        <td>$ {{balances}}</td>
        <td><a (click)="onedit(i)" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i> Edit</a></td>
      </tr>
      
</div>


</div>

  </tbody>
</table>

<button (click)="onFetch()">Fetch</button>













