
.wrap{
   background-color: rgb(255, 230, 191);
    padding: 0%;
    font-size: 1.4em;
}

.type{
    float: left;
    padding-right: 20%;
    background-color: rgb(255, 230, 191);
}
.apr{
    float: left;
    padding-right: 20%;
    background-color: rgb(255, 230, 191);
}
.balance{
    float: left;
    background-color: rgb(255, 230, 191);
   
}
th{
    float: left;
    padding-right: 20%;
}