
.card{

    font-family: Concert One;
    font-size: 1.2em;
    margin-bottom: 6%;
    margin-top: 3%;
    border-width: 6px;
    border-color:rgb(0, 34, 102);
    border-radius: 23px;
    box-shadow: 5px 10px #d9d9d9;
    
}
.card-title{
    font-weight: bold;
    font-size: 1.4em;
}
.card-body{
    background-color:rgb(179, 204, 255);
   
}
// .title{
//     padding-bottom: 9%;
//     width: 30vw;
// }