.header{
    padding-top: 5%;
    padding-bottom: 5%;
}

.products{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
li{
    padding-bottom: 2%;
}
button{
    margin-bottom: 6%;
}
