
<h1 class="title">
  Glossary
</h1>
<a routerLink="/dashboard" class="btn btn-link">
  <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
</a>

<p class="learnMore">Learn more about your account by reading through the
  information below
  below</p>

<div class="paragraphs">


<div class="secured">
  <h5>
    Secured vs Unsecured
  </h5>
  <p>
  Things that are Secured are backed up with either cash, a house or a car.
  Things that are Secured get a larger limit and a lower APR. For a Loan this means
  A bigger Loan.
  </p>
  <p>
    Bank products that are UnSecured Usually have a smaller limit and higher APR
  </p>
  <p>
    Examples <br>
    An Auto Loan is a loan secured with a car. Thats Why the APR is usually low
    A mortgage is a loan backed up by a house.
    A Secured Credit is a credit card backed up by cash
  </p>

</div>

<div class="rates">
    <h5>
      Fixed rate vs variable rate
    </h5>
    <p>
      A fixed rate means that the APR cannot change. Even if the Economy crashes
      the interest rate will not change.
    </p>
    <p>
      A variable rate means the rate can change with the economy. 
    </p>
  
  </div>

<div class="cc">
    <h5>
      Credit Card
    </h5>
  <p>
    A Credit Card is a line of credit that consumers can utilize to purchase goods
    or services. Credit card have a variable rate.
  </p>
    Usage: <br>
   - It can be used to increase ones credit. <br>
   - It can be used as a rewards card(Only some CC offer rewards) <br>
   - It can be used to transfer a balance. <br>
   <p>
     People do a balance transfer because most Credit cards offer a period of time
     where the card is 0%. This helps a lot because the individual saves money on 
     interest. 
   </p>
</div>

<div class="loan">
      <h5>
        Loans
      </h5>
      <p>
       A Loan is a way to borrow set amount of money. unlike a line of credit
       you only get money from a loan once. At the time of signing a loan the consumers
       knows exactly how much they are paying back. A loan is Fixed.
      </p>
      <p>
        Loans Typically have a lower APR.
      </p>
</div>

<div class="checking">
    <h5>
      Checking Account
    </h5>
   <p>
      A checking account is a bank account for everyday expenses.
       It tends to have a lower interest rate than a savings or CD
      account, but unlike those accounts there's no limit to how often you can
       access your money.
   </p>
</div>

<div class="savings">
    <h5>
      Savings Account
    </h5>
   <p>
      Savings accounts are a safe place to store cash and can earn around 1% to 2% 
      interest. They can also help you save for longer-term needs
   </p>
   <p>
     If your not going to use your money for a long period of time you may
     want to consider a Certificate of deposit account for a higher return.
   </p>
</div>

<div class="Heloc">
    <h5>
      Heloc
    </h5>
   <p>
     A Heloc is a line of credit that is secured by a mortgage. 
   </p>
</div>

<div class="refinance">
    <h5>
      Refinance
    </h5>
   <p>
     Refinance is a way to renegotiate a mortgage. If one doesn't like their
     current APR or term they can Refinance to change it.
   </p>
</div>


</div>
